.generateid-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 200;
        color: white;
    }
}