.call-window {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.other-video-on {
        background-color: transparent;
        justify-content: flex-end;

        .controls {
            margin-bottom: 20px;
        }
        .avatar {
            display: none;
        }
    }

    .text {
        font-size: 32px;
        color: white;
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
    }

    .video-el {
        object-fit: cover;
        transform: rotateY(-180deg);

        &.other-video-el {
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &.screen-share {
                transform: none;
                object-fit: contain;
            }
        }

        &.own-video-el {
            height: 10vh;
            width: 10vw;
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            z-index: 1;
            border: 4px solid white;
            border-radius: 5px;
        }
    }

    .avatar-container {
        position: relative;
        height: 100px;
        width: 100px;
        z-index: 3;

        .volume-indicator {
            border-radius: 50%;
            height: 110px;
            width: 110px;
            border-style: solid;
            border-color:  #044063;
            transition: border-width 100ms linear;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .avatar {
            position: absolute;
            background-color: white;
            border-radius: 50%;
            height: 100px;
            width: 100px;
            font-size: 32px;

            display: flex;
            justify-content: center;
            align-items: center;
            border: 10px solid #044063;
        
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &.no-border {
                border: none;
            }
        }

        &.screen-share {
            display: none;
        }
    }

    .line {
        width: 300px;
        height: 1px;
        background-color: #313131;
        margin-top: 60px;
    }

    .controls {
        display: flex;
        margin-top: 30px;
        z-index: 3;

        .control {
            background-color: rgb(230, 230, 230);
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            cursor: pointer;


            img {
                filter: invert(1);
            }

            &:active {
                filter: brightness(1.5);
            }

            &:not(.call-end) {
                img {
                    filter: none;
                }
            }

            &.call-end {
                background-color: rgb(179, 45, 45);
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .video-el {
        &.own-video-el {
            width: 20vw;
        }
    }
}