<div class="call-window" [class.other-video-on]="isOtherVideoOn || isOtherScreenShareOn">
    <video class="video-el other-video-el" #othervideoel [class.screen-share]="isOtherScreenShareOn"></video>
    <video class="video-el own-video-el" #ownvideoel *ngIf="isVideoOn"></video>
    <app-draw *ngIf="!isMobile" [isConnected]="isConnected"></app-draw>
    <audio id="audio-el" style="display: none;"></audio>
    <p class="text">{{statusText}}</p>
    <div class="avatar-container" [class.screen-share]="isOtherScreenShareOn">
        <div class="volume-indicator" *ngIf="!contact?.muted" [ngStyle]="{'border-width': contact?.calculatedBorderWidth + 'px'}"></div>
        <div class="avatar" [class.no-border]="contact?.muted">
            <p>{{contact?.name | firstTwoLetters}}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="controls">
        <ng-container *ngIf="isConnected">
            <div class="control" (click)="toggleAudio()">
                <img src="assets/icons/mic_off.svg" alt="" *ngIf="!isAudioOn">
                <img src="assets/icons/mic_on.svg" alt="" *ngIf="isAudioOn">
            </div>
            <div class="control" (click)="toggleVideo()">
                <img src="assets/icons/videocam_off.svg" alt="" *ngIf="!isVideoOn">
                <img src="assets/icons/videocam_on.svg" alt="" *ngIf="isVideoOn">
            </div>
            <div *ngIf="!isMobile && !isOtherScreenShareOn" class="control" (click)="toggleScreenShare()">
                <img src="assets/icons/desktop_off.svg" alt="" *ngIf="!isScreenShareOn">
                <img src="assets/icons/desktop_on.svg" alt="" *ngIf="isScreenShareOn">
            </div>
            <div *ngIf="!isMobile" class="control" (click)="clearDrawing()">
                <img src="assets/icons/hide_image.svg" alt="">
            </div>
            <div *ngIf="!isMobile && isVideoOn" class="control" (click)="toggleSticker()">
                <img src="assets/icons/ar.svg" alt="" *ngIf="!isStickerOn">
                <img src="assets/icons/ar.svg" alt="" *ngIf="isStickerOn" style="filter: var(--filter-green)">
            </div>
            <div *ngIf="!isMobile && isVideoOn" class="control" (click)="toggleBackgroundBlur()">
                <img src="assets/icons/blur_off.svg" alt="" *ngIf="!isBackgroundBlurOn">
                <img src="assets/icons/blur_on.svg" alt="" *ngIf="isBackgroundBlurOn" style="filter: var(--filter-green)">
            </div>
        </ng-container>
        <div class="control call-end" (click)="setStatusText('Disconnected...');backToHome()">
            <img src="assets/icons/call_end.svg" alt="">
        </div>
    </div>
</div>